#creator {
    padding-top: 40vh;
    display:grid;
    margin:auto;
    width: 20vw;
}

#portal {
    padding-top: 40vh;
    display:grid;
    margin:auto;
    width: 20vw;
}

#userInfo {
    display: grid;
    margin: auto
}